@font-face {
   font-family: 'CaviarDreams_Bold';
   font-display: swap;
   src: url('file:///C:/Users/patriciaadedios/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-05_145749/fonts/CaviarDreams_Bold/font.ttf');
}
